name: Deploy-Pipeline

on:
  push:
    branches: [main]
  # VULN: pull_request_target gives the fork access to secrets of the base repo.
  pull_request_target:
    types: [opened, synchronize]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      # VULN: Explicitly checking out the code from the HEAD (the malicious fork)
      # instead of the BASE repository.
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Build
        env:
          MY_SECRET: ${{ secrets.APP_SECRET }}
        run: |
          chmod +x ./scripts/build.sh
          ./scripts/build.sh
          # Pass secret into Docker (Vulnerability 1: Secret in layers)
          docker build --build-arg APP_SECRET=$MY_SECRET -t ci-cd .
          docker save ci-cd > app.tar

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: deployment-artifact 
          path: app.tar
  deploy-production:
    needs: build-and-deploy
      # This job only runs when the PR is actually merged into main
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
        - name: Download poisoned artifact
          uses: actions/download-artifact@v4
          with:
            name: deployment-artifact

        - name: Deploy to Production
          run: |
            docker load < app.tar
            # Run the backdoored container
            docker run -d -p 5000:5000 ci-cd
            sleep 5
            echo "Production deployment successful!"