name: Deploy-Pipeline
on: [pull_request, push]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build
        env:
          MY_SECRET: ${{ secrets.APP_SECRET }}
        run: |
          chmod +x ./scripts/build.sh
          ./scripts/build.sh
          docker build --build-arg APP_SECRET=$MY_SECRET -t my-app .
          docker save my-app > app.tar
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: deployment-artifact
          path: app.tar